/*** Text classes ***/

h1 {
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: #ffffff;
}

h3 {
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

p {
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
}

/*** Timeline description classes ***/
.timeline-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.timeline-description > p {
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.timeline-description a {
  text-decoration-line: underline;
  cursor: pointer;
  transition: all;
  opacity: 1;
}

.timeline-description a:hover {
  transition: all;
  opacity: 0.7;
}

.timeline-description > h1 {
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
